// global configurations
nextflow.enable.dsl=2

// Set a default location to circumvent warning of no initialized value
params {
    outfolder = '$SCRATCH/'
}

// profile dependendent configurations
profiles {
    omics {
        conda {
            enabled = true
        }
        queue = "shortterm"
        workDir = "$WORK/make_plots_nextflow_workdir"
        process {
            executor = 'slurm'
            scratch =  '$SCRATCH/' // has to be single quotes. Otherwise it gets expanded before creating a new slurm job
            //conda = "/Users/sreenivasan/miniforge3/envs/Seurat5"
            conda = "$WORK/.omics/anaconda3/envs/scVelocity"
            stageInMode = "copy"
            cpus = 1
            memory = 50.GB
            withName: write_params {
                executor = 'local'
                memory = 128.MB
                publishDir = [ path: "${params.outfolder}",
                            mode: 'copy' ]
            }
            withName: gsea {
                memory = 300.GB
                conda = "${WORK}/.omics/anaconda3/envs/ssGSEA"
                publishDir = [ path: "${params.outfolder}/gsea/",
                            mode: 'copy',
                            overwrite: true ]
            }
            withName: heatmap_gsea {
                conda = "${WORK}/.omics/anaconda3/envs/ssGSEA"
                publishDir = [ path: "${params.outfolder}/heatmap/",
                            mode: 'copy',
                            overwrite: true ]
            }
            withName: statistics_gsea {
                conda = "${WORK}/.omics/anaconda3/envs/ggplot_essentials"
                publishDir = [ path: "${params.outfolder}/statistics/",
                            mode: 'copy',
                            overwrite: true ]
            }
            withName: volcano_gsea {
                conda = "${WORK}/.omics/anaconda3/envs/ggplot_essentials"
                publishDir = [ path: "${params.outfolder}/volcano/",
                            mode: 'copy',
                            overwrite: true ]
            }
            withName: heatmap_gsea_per_pathway {
                conda = "${WORK}/.omics/anaconda3/envs/ssGSEA"
                publishDir = [ path: "${params.outfolder}/heatmap/",
                            mode: 'copy',
                            overwrite: true ]
            }
            withName: vlnplot_gsea_per_pathway {
                conda = "${WORK}/.omics/anaconda3/envs/ggplot_essentials"
                publishDir = [ path: "${params.outfolder}/vlnplot/",
                            mode: 'copy',
                            overwrite: true ]
            }
        }
    }
}

