// global configurations
nextflow.enable.dsl=2

// Set a default location to circumvent warning of no initialized value
params {
    outfolder = "~/Desktop"
}

// profile dependendent configurations
profiles {
    local {
        conda {
            enabled = true
            cacheDir = "/Users/sreenivasan/miniforge3/envs" 
            useMamba = true
        }
        workDir = "/Users/sreenivasan/nextflow_work"
        process {
            scratch =  "/Users/sreenivasan/nextflow_scratch"
            executor = 'local'
            //conda = "/Users/sreenivasan/miniforge3/envs/NICHES"
            conda = "/Users/sreenivasan/miniforge3/envs/NICHES"
            withLabel: tiny {
                cpus = 1
                memory = 1.MB
            }
            withLabel: medium_memory {
            cpus = 1
                memory = 5.GB
            }
            withName: write_params {
                publishDir = [ path: "${params.outfolder}",
                            mode: 'copy' ]
            }
            withName: differential_analysis_on_single_cell {
                publishDir = [ path: "${params.outfolder}/analysis_on_input_sc_obj/", 
                            saveAs: { filename -> "${meta.name}_$filename" },
                            mode: 'copy' ]
            }
            withName: separate_seurat_object {
                publishDir = [ path: "${params.outfolder}/separated_seurat_objects/", 
                            saveAs: { filename -> "${meta.name}_${separate_rds_value}_$filename" },
                            mode: 'copy' ]
            }
            withName: impute_by_alra {
                publishDir = [ path: "${params.outfolder}/imputed_by_alra/", 
                            saveAs: { filename -> "${meta.name}_${meta.part}_$filename" } ]
            }
            withName: do_niches {
                publishDir = [ path: "${params.outfolder}/NICHES/", 
                            saveAs: { filename -> "${meta.name}_${meta.part}_$filename" },
                            mode: 'copy' ]
            }
            withName: do_diff_niches {
                publishDir = [ path: "${params.outfolder}/diff_NICHES/", 
                            saveAs: { filename -> "${meta.name}_$filename" },
                            mode: 'copy']
            }
            withName: seurat_to_scanpy {
                publishDir = [ path: "${params.outfolder}/scanpy_objects_for_liana/", 
                            saveAs: { filename -> "${meta.name}_${meta.part}_$filename" },
                            mode: 'copy' ]
                conda = "/Users/sreenivasan/miniforge3/envs/MegaBundle"
            }
            withName: diff_seurat_to_scanpy {
                publishDir = [ path: "${params.outfolder}/scanpy_objects_for_diff_liana/", 
                            saveAs: { filename -> "${meta.name}_$filename" },
                            mode: 'copy' ]
                conda = "/Users/sreenivasan/miniforge3/envs/MegaBundle"
            }
            withName: do_liana {
                publishDir = [ path: "${params.outfolder}/liana/", 
                            saveAs: { filename -> "${meta.name}_${meta.part}_$filename" },
                            mode: 'copy' ]
                conda = "/Users/sreenivasan/miniforge3/envs/liana"
            }
            withName: do_diff_liana {
                publishDir = [ path: "${params.outfolder}/diff_liana/", 
                            saveAs: { filename -> "${meta.name}_$filename" },
                            mode: 'copy' ]
                // conda = "/Users/sreenivasan/miniforge3/envs/liana_dev"
                conda = "/Users/sreenivasan/miniforge3/envs/liana"
            }

        }
    }
}

